@model Dashboard_iSupport.Models.iSupportData



<h1 class="text-md-center">CreateTicket</h1>


<hr />
<div>
<div class="container row">
    <div class="col">
        <form asp-action="CreateTicket">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
           @* <div class="form-group">
                <label asp-for="Number" class="control-label"></label>
                <input asp-for="Number" class="form-control" id="btn"/>
                <span asp-validation-for="Number" class="text-danger"></span>
            </div>*@
                <div class="form-group row">
                    <div class="col">
                        <label for="Number" class="col-sm-2 col-form-label"><strong>Number</strong></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Number" class="form-control" id="btn" placeholder="Ticket_No">
                        </div>
                    </div>  
                    <div class="col">
                        <label for="Status" class="col-sm-2 col-form-label"><strong>Status</strong></label>
                        <div class="col-sm-10">
                            @*<select class="custom-select" id="Priority">
                                <option selected></option>
                                <option value="1">Open</option>
                                <option value="2">In-Review</option>
                                <option value="3">Closed</option>                              
                            </select>*@
                            <input asp-for="Status_Label" class="form-control" id="btn" placeholder="Status">
                        </div>                       
                    </div>
                </div>
                <div class="form-group row">
                    <div class="col">
                        <label for="Create_Date" class="col-sm-4 col-form-label"><strong>Create Date</strong></label>
                        <div class="col-sm-10">
                            <input asp-for="Date_Created" class="form-control" id="Create_Date" placeholder="Create Date" />
                        </div>
                    </div>
                    <div class="col">
                        <label for="Close_Date" class="col-sm-4 col-form-label"><strong>Close Date</strong></label>
                        <div class="col-sm-10">
                            <input asp-for="Date_Closed" class="form-control" id="Close_Date" placeholder="Close Date">
                        </div>
                    </div>
                </div>                
                @*<div class="form-group">
                <label asp-for="Status_Label" class="control-label"></label>
                <input asp-for="Status_Label" class="form-control" />
                <span asp-validation-for="Status_Label" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Priority" class="control-label"></label>
                <input asp-for="Priority" class="form-control" />
                <span asp-validation-for="Priority" class="text-danger"></span>
            </div>*@
                <div class="form-group row">
                    <div class="col">
                        <label for="Priority" class="col-sm-2 col-form-label"><strong>Priority</strong></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Priority" class="form-control" id="btn" placeholder="Priority">
                        </div>                       
                    </div>
                    <div class="col">
                        <label for="Assignee" class="col-sm-4 col-form-label"><strong>Assignee</strong></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Assignee" class="form-control" id="btn" placeholder="Asignee Name">
                        </div>                       
                    </div>
                </div>

            @*<div class="form-group">
                <label asp-for="Date_Created" class="control-label"></label>
                <input asp-for="Date_Created" class="form-control" />
                <span asp-validation-for="Date_Created" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Date_Closed" class="control-label"></label>
                <input asp-for="Date_Closed" class="form-control" />
                <span asp-validation-for="Date_Closed" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Assignee" class="control-label"></label>
                <input asp-for="Assignee" class="form-control" />
                <span asp-validation-for="Assignee" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Time_Open__Min_" class="control-label"></label>
                <input asp-for="Time_Open__Min_" class="form-control" />
                <span asp-validation-for="Time_Open__Min_" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="TAT" class="control-label"></label>
                <input asp-for="TAT" class="form-control" />
                <span asp-validation-for="TAT" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="Missing_Ticket" class="control-label"></label>
                <input asp-for="Missing_Ticket" class="form-control" />
                <span asp-validation-for="Missing_Ticket" class="text-danger"></span>
            </div>*@
                <div class="form-group row">
                    <div class="col">
                        <label for="Application" class="col-sm-4 col-form-label"><strong>Application</strong></label>
                        <div class="col-sm-10">
                            @*<select class="form-control" asp-items="@(new SelectList(ViewBag.listOfApplication,"Id","Application"))"></select>*@
                            <input type="text" asp-for="Application_Name" class="form-control" id="btn" placeholder="">
                        </div>                       
                    </div>
                   @* <div class="form-group row">
                        <div class="col">

                            <label for="Application" class="col-sm-2 col-form-label"><strong>Application Name</strong></label>
                            <div class="col-sm-10">
                                <select asp-for="Id" class="form-control" asp-items="@(new SelectList(ViewBag.listOfApplication,"Id","Application"))"></select>
                            </div>
                        </div>
                    </div>*@
                    <div class="col">
                        <label for="Count_of_Errors" class="col-sm-4 col-form-label"><strong>Count</strong></label>
                        <div class="col-sm-10">
                            <input type="text" asp-for="Count_of_Errors" class="form-control" id="Count_of_Errors" placeholder="Error Count">
                        </div>
                    </div>
                </div>
            @*<div class="form-group">
                <label asp-for="Application_Name" class="control-label"></label>
                <input asp-for="Application_Name" class="form-control" />
                <span asp-validation-for="Application_Name" class="text-danger"></span>
            </div>*@
            @*<div class="form-group">
                <label asp-for="Sub_Categorization_of_Error" class="control-label"></label>
                <input asp-for="Sub_Categorization_of_Error" class="form-control" />
                <span asp-validation-for="Sub_Categorization_of_Error" class="text-danger"></span>
            </div>*@
                <div class="form-group row">
                    <div class="col">
                        <label for="Sub_Categorization_of_Error" class="col-sm-4 col-form-label"><strong>Sub Category</strong></label>
                        <div class="col-sm-10">
                            <input asp-for="Sub_Categorization_of_Error" class="form-control" id="" placeholder="Sub_Categorization_of_Error" />
                        </div>
                    </div>
                    <div class="col">
                        <label for="Reason_for_Escalation_to_the_SME" class="col-sm-4 col-form-label"><strong>Escalation ?</strong></label>
                        <div class="col-sm-10">
                            <input asp-for="Reason_for_Escalation_to_the_SME" class="form-control" id="" placeholder="Reason_for_Escalation_to_the_SME">
                        </div>
                    </div>
                </div>
                @*<div class="form-group">
                <label asp-for="Count_of_Errors" class="control-label"></label>
                <input asp-for="Count_of_Errors" class="form-control" />
                <span asp-validation-for="Count_of_Errors" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">
                <label asp-for="Reason_for_Escalation_to_the_SME" class="control-label"></label>
                <input asp-for="Reason_for_Escalation_to_the_SME" class="form-control" />
                <span asp-validation-for="Reason_for_Escalation_to_the_SME" class="text-danger"></span>
            </div>*@
           @* <div class="form-group">     
                <label asp-for="Actual_Person_Handling_the_ticket" class="control-label"></label>
                <input asp-for="Actual_Person_Handling_the_ticket" class="form-control" />
                <span asp-validation-for="Actual_Person_Handling_the_ticket" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Error_Type" class="control-label"></label>
                <input asp-for="Error_Type" class="form-control" />
                <span asp-validation-for="Error_Type" class="text-danger"></span>
            </div>*@
                <div class="form-group row">
                    <div class="col">
                        <label for="Error_Type" class="col-sm-4 col-form-label"><strong>Error Type</strong></label>
                        <div class="col-sm-10">
                            <input asp-for="Error_Type" class="form-control" id="" placeholder="Error_Type" />
                        </div>
                    </div>
                    <div class="col">
                        <label for="Actual_Person_Handling_the_ticket" class="col-sm-7 col-form-label"><strong>Actual Person Handling the ticket</strong></label>
                        <div class="col-sm-10">
                            <input asp-for="Actual_Person_Handling_the_ticket" class="form-control" id="" placeholder="">
                        </div>
                    </div>
                </div>
                <br />
            <div class="form-group">
                    <div class="col-md-12 text-center">
                    <input type="submit" value="Submit" class="btn btn-primary" />
                        <a asp-action="Index" class="btn btn-primary">Back</a>
                </div>
            </div>
        </form>
    </div>
</div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    <script>
        $(document).ready(function () {
            $("#btn").keyup(function () {
                var maxChars = 10;
                if ($(this).val().length > maxChars) {
                    $(this).val($(this).val().substr(0, maxChars));                 
                   alert('It allows only 10 character');
                }
            });
           
        });
    </script>
}



             
    